input {
  margin-left: 2%;
  margin-bottom: 6%;
  border: 2px solid black;
}

.shipping-label {
  width: 500px;
  height: 100%;
  border: 2px solid black;
  box-shadow: 2px 2px;
  display: flex;
  flex-direction: column;
}

.main-label {
  margin-left: 10%;
}

.wizard-container {
  width: 500px;
  height: 100%;
  border: 2px solid black;
  box-shadow: 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 400px;
  height: 10px;
  border: 2px solid black;
  position: relative;
  width: 400px;
  box-shadow: 2px 2px;
}

.progress-bar span {
  height: 100%;
  background-color: lightgray;
  position: absolute;
}
.form{
  height: 50%;
  margin-bottom: 5%;
}

.long{
  display: flex;
  flex-direction: row;
}

.long-input {
  width: 83%;
}

.shared-input{
  display: flex;
  flex-direction: row;
}

.shared-input div {
  display: flex;
  flex-direction: row;
}

.shared-input input {
  width: 60%;
}

.nav-buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  justify-content: space-evenly;
}

button {
  margin-left: 5%;
  width: 60px;
  border: 2px solid black;
  box-shadow: 2px 2px;
}